name: CI

on: [push]

jobs:
  build_windows_conda:
    name: build (windows-latest, conda)
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        call %CONDA%/Scripts/activate.bat
        conda install mkl-devel & python -m pip install --upgrade pip & pip install -r requirements.txt & pip install hyperjet
      shell: cmd
    - name: Install package
      run: |
        call %CONDA%/Scripts/activate.bat
        pip install .
      shell: cmd
    - name: Test with pytest
      run: |
        call %CONDA%/Scripts/activate.bat
        pip install pytest
        pytest
      shell: cmd

  build_linux:
    name: build (${{ matrix.os }}, conda)
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        source $CONDA/bin/activate
        conda install mkl-devel
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install hyperjet
    - name: Install package
      run: |
        source $CONDA/bin/activate
        pip install .
    - name: Test with pytest
      run: |
        source $CONDA/bin/activate
        pip install pytest
        pytest

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install libomp
      run: |
        brew install libomp
      if: matrix.os == 'macos-latest'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install hyperjet
    - name: Install package
      run: |
        $env:MKL_ROOT=python -c "from sysconfig import get_paths as gp; print(gp()['data'])"
        pip install .
        python -c "import eqlib; print(eqlib._USE_MKL)"
      shell: pwsh
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
